.btn-smiley {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  margin: 0;
  opacity: 0.3;
  transition: 300ms;
}

.btn-smiley:hover {
  transform: scale(1.2);
}

.btn-smiley:focus {
  border: none;
  outline: none;
}

.btn-smiley--selected {
  opacity: 1;
}